<div class="container py-5 mb-5">
	<h2 class="subtitle">{{'services.services_title' | translate}}</h2>
	<p class="subtitle_description">{{'services.services_description' | translate}}</p>

	<div class="row justify-content-center mt-4">
		<div class="col-12 col-sm-6 col-md-4 col-lg-3 service mt-5">
			<img src="/assets/home/services/service_1.png" alt="service_1">
			<h3 class="title">{{'services.service_1.title' | translate}}</h3>
			<p class="description">
				{{'services.service_1.description' | translate}}
			</p>
		</div>

		<div class="col-12 col-sm-6 col-md-4 col-lg-3 service mt-5">
			<img src="/assets/home/services/service_2.png" alt="service_2">
			<h3 class="title">{{'services.service_2.title' | translate}}</h3>
			<p class="description">
				{{'services.service_2.description' | translate}}
			</p>
		</div>

		<div class="col-12 col-sm-6 col-md-4 col-lg-3 service mt-5">
			<img src="/assets/home/services/service_3.png" alt="service_3">
			<h3 class="title">{{'services.service_3.title' | translate}}</h3>
			<p class="description">
				{{'services.service_3.description' | translate}}
			</p>
		</div>
		
		<div class="col-12 col-sm-6 col-md-4 col-lg-3 service mt-5">
			<img src="/assets/home/services/service_4.png" alt="service_4">
			<h3 class="title">{{'services.service_4.title' | translate}}</h3>
			<p class="description">
				{{'services.service_4.description' | translate}}
			</p>
		</div>
		
		<div class="col-12 col-sm-6 col-md-4 col-lg-3 service mt-5">
			<img src="/assets/home/services/service_5.png" alt="service_5">
			<h3 class="title">{{'services.service_5.title' | translate}}</h3>
			<p class="description">
				{{'services.service_5.description' | translate}}
			</p>
		</div>
		
		<div class="col-12 col-sm-6 col-md-4 col-lg-3 service mt-5">
			<img src="/assets/home/services/service_6.png" alt="service_6">
			<h3 class="title">{{'services.service_6.title' | translate}}</h3>
			<p class="description">
				{{'services.service_6.description' | translate}}
			</p>
		</div>
	</div>
</div>


<div class="separador">
	<div class="container py-5">
		<div class="row">
			<div class="col-12 col-lg-4 offset-lg-1 text-center">
				<img src="/assets/home/about_me.png" alt="about_me">
			</div>
			<div class="col-md-8 offset-md-2 col-lg-5 offset-lg-1 d-flex flex-column justify-content-center">
				<h4 class="title text-center mt-3 mt-lg-0 text-lg-start">{{'splitter.title' | translate}}</h4>
				<p class="description">{{'splitter.description' | translate}}</p>
			</div>
		</div>
	</div>
</div>